class Garden < Formula
  desc "CLI for application.garden"
  homepage "application.garden"
  url "https://github.com/nextjournal/garden-cli/releases/download/v${VERSION}/garden.tar.gz"
  version "${VERSION}"
  sha256 "${SHA256}"

  depends_on "borkdude/brew/babashka"

  install do
    bin.install "garden"
  end

  test do
    system "#{bin}/garden", "--version"
  end
end
